[Desktop Entry]
Name=Wurm Online
GenericName=Wurm Online
Comment=A sandbox mmorpg
Exec=wurm-launcher.sh
Icon=/usr/share/wurm-launcher/wurm-launcher.png
Terminal=false
Type=Application
Categories=Game;
